.expert {
    box-shadow: 5px 6px 20px #d7d7d7;
    transition: all .2s ease
}

.expert-img {
    height: 542px;
    background: url(https://static.tildacdn.com/tild3832-6638-4532-a665-346437376563/11218780_14681238601.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover
}

.expert-name {
    font: 400 34px/32px Circe, Arial, sans-serif
}

.expert-subtitle {
    font: 400 20px/32px Circe, Arial, sans-serif
}

.expert-subtitle:after {
    content: "";
    display: block;
    width: 39px;
    height: 2px;
    background-color: rgb(234, 234, 234);
    margin: 12px auto 10px
}

.expert-position {
    font: 400 18px/22px Circe, Arial, sans-serif;
	color: rgba(47, 50, 54, 0.6)
}