.expert {
  box-shadow: 5px 6px 20px #d7d7d7;
  transition: all 0.2s ease;
}

.expert-img {
  height: 542px;
  background: url(https://images.unsplash.com/photo-1557862921-37829c790f19?q=80&w=2971&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.expert-name {
  font: 400 34px/32px Circe, Arial, sans-serif;
}

.expert-subtitle {
  font: 400 20px/32px Circe, Arial, sans-serif;
}

.expert-subtitle:after {
  content: "";
  display: block;
  width: 39px;
  height: 2px;
  background-color: rgb(234, 234, 234);
  margin: 12px auto 10px;
}

.expert-position {
  font: 400 18px/22px Circe, Arial, sans-serif;
  color: rgba(47, 50, 54, 0.6);
}
