html,body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}


/* HEADER*/
header{
	height: 100vh;
	background-color: #1668e4;
	background: url(../img/1.jpeg)#4c4b53 no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.shadow{
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.64);
}
.top{
	justify-content: space-between;
	padding-top: 2.5%;
	align-items: center;
	flex-wrap: nowrap;
}
.logo{
	padding-left: 2%;
}
.logo-text{
	font-weight: bold;
	font-size: 1.6rem;
}

.nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
nav{
	margin-left: -11%;
}
nav li{
	margin: 2.5%;
}
nav a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.soc-ic{
	margin-right: 4%;
	display: flex;
	flex-wrap: nowrap;
}
.fa-twitter,
.fa-google-plus{
	padding-left: 20%;
}

.zag{
	font-family: sans-serif;
	letter-spacing:0.1em;
	justify-content: center;
	text-align: center;
	margin-top: 13%;
}
.zag-m{
	justify-content: center;
	text-align: center;
	margin-top: 2%;
}

.bt{
	justify-content: center;
	margin-top: 8%;
}
.dis-us{
	border:none;
	color: #fff;
	font-weight: bold;
	font-size: 0.78rem;
	width: 145px;
	height: 48px;
	background: rgba(253,63,180,1);
	background: -moz-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,63,180,1)), color-stop(26%, rgba(253,63,180,1)), color-stop(43%, rgba(253,62,77,1)), color-stop(100%, rgba(255,37,8,1)));
	background: -webkit-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -o-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}





/*   MAIN   */
.ab{
	height: 60vh;
	background: rgba(253,63,180,1);
	background: -moz-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,63,180,1)), color-stop(26%, rgba(253,63,180,1)), color-stop(43%, rgba(253,62,77,1)), color-stop(100%, rgba(255,37,8,1)));
	background: -webkit-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -o-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}
.about{
	padding-top: 4.5%;
	padding-left: 7%;
	padding-bottom: 4%;
}
.abt{
	font-weight: bold;
}
.abt-text{
	padding-left: 7%;
	font-size: 1.8rem;
	padding-right: 10%;
}
.prtf{
	justify-content: flex-end;
	padding-right: 10%;
	padding-top: 1%;
}
.portfolio{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: #fe312a;
	padding: 1% 3% 1% 3%;
    border-radius: 2rem;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    font-weight: bold;
}
.portfolio i{
	padding-left: 10%;
}





/* TABS  */
.tabs{
	justify-content: center;
}
.tabs p{
	font-size: 0.87rem;
}
.tab{
	color: #000;
	width: 26.6%;
	border: 1px solid white;
	height: 43vh;
}
.tab .row{
	padding:0;
	margin: 0;
}
.tab h4{
	padding-top: 25%;
	font-weight: bold;
}
.tab p{
	padding-top: 9%;
}

.tabp{
	width: 26.6%;
	height: 49vh;

	background: rgba(253,63,180,1);
	background: -moz-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,63,180,1)), color-stop(26%, rgba(253,63,180,1)), color-stop(43%, rgba(253,62,77,1)), color-stop(100%, rgba(255,37,8,1)));
	background: -webkit-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -o-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}
.tabp .row{
	padding:0;
	margin: 0;
}
.tabp h2{
	padding-left: 6%;
	font-size: 3rem;
	font-weight: bold;
	padding-top: 18%;
}
.tabp h3{
	padding-left: 6%;
	font-size: 1.4rem;
	font-weight: bold;
	padding-top: 4%;
}
.tabp p{
	padding-left: 6%;
	padding-top: 4%;
}





/*   OUR TEAM */
.our{
	color: #000;
	padding-left: 10%;
	padding-top: 5%;
}
.our h2{
	font-weight: bold;
}
.avatars{
	color: #000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	margin-top: 5%;
}
.avatars .row{
	padding: 0;
	margin: 0;
	height: 440px;
	width: 380px;
}
.avatar{
	display: flex;
	margin-left: 2%!important;
	width: 26%;
	height: 50%;
	background-color: grey;
}
.avatar .row:hover{

	background: rgba(253,63,180,1);
	background: -moz-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,63,180,1)), color-stop(26%, rgba(253,63,180,1)), color-stop(43%, rgba(253,62,77,1)), color-stop(100%, rgba(255,37,8,1)));
	background: -webkit-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -o-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}
.img-fluid{
	height: 100%; 
	width: 100%;
}









/*    INNOVATIVE  */
.innov{
	margin-top: 12%;
	color: #000;
}

.innov-text{
	padding-top: 5%;
}
.proj{
	color: #ff2913;
}

.bt-in{
	justify-content: flex-start;
	margin-top: 8%;
}
.dis-us-in{
	border:none;
	color: #fff;
	font-weight: bold;
	font-size: 0.78rem;
	width: 145px;
	height: 48px;
	background: rgba(253,63,180,1);
	background: -moz-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(253,63,180,1)), color-stop(26%, rgba(253,63,180,1)), color-stop(43%, rgba(253,62,77,1)), color-stop(100%, rgba(255,37,8,1)));
	background: -webkit-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -o-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}





/* MORE POSIBILITES */

.pos{
	margin-top: 15%;
    height: 10%;
    background-color: #d0d0d0;
}
.pos .row{
	padding: 0;
	margin: 0;
}
.pos-i{
	color: #000;
	padding-left: 10%!important;
	width: 45%;
	padding-bottom: 10%!important;
}
.pos-p{
	position: relative;
	display: flex;
	width: 55%;
}
.pos-p img{
	position: absolute;
	width: 300px;
}





.pos-i span{
	color: #ff2a16;
}
.pos-i p{
	color: #5f5554;
}
.pos-i h2{
	padding-top: 30%;
}






/*   SUITE  */
.suite{
	padding:10%;
	background-color: #222;

}
.suite .row{
	flex-wrap: nowrap;
	padding: 0;
	margin: 0;
}
.features{
	display: flex;
	flex-direction: column;
	color: #fff;
}
.features .row{
	display: flex;
	flex-direction: row;
}
.feature, .m-feature , .b-feature{
	width: 32.3%;
	display: flex;
	flex-direction: column;
}
.m-feature{
	font-size: 2.2rem;
	font-weight: bold;
}
.m-feature span{
	color: #fb404b;
}
.feature p{
	color: #8b8b8b;
}
.feature h5{
	font-weight: bold;
}
.feature{
	margin-left: 5%;
}
.b-feature{
	color: #8b8b8b; 
}



/*   FOOTER  */
footer{
	background-color: #fff;
}
footer .fir{
	padding:5% 10%;
}

.pu{
	font-weight: bold;
	font-size: 4rem;
	color: rgba(253,63,180,1);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}
.ag{
	color: black;
	font-size: 1.2rem;
}
.f-t{
	padding-top: 5%;
	font-size: 0.9rem;
}
footer p , h4{
	color: #000;
}
.col-lg-3 span{
	font-weight: bold;
	color: #fb3e4e;
}
.kt{
	padding-top: 10%;
	display: flex;
	flex-direction: column;
}
.s-t{
	font-size: 0.9rem;
}
.l-t{
	padding-top: 10%;
	font-size: 0.9rem;
}

.them{
	display: flex;
	justify-content: center;
}
.fo-cop{
	margin-bottom: 5%;
	font-weight: bold;
	font-size: 1rem;
	color: rgba(253,63,180,1);
	background: linear-gradient(45deg, rgba(253,63,180,1) 0%, rgba(253,63,180,1) 26%, rgba(253,62,77,1) 43%, rgba(255,37,8,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent; 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd3fb4', endColorstr='#ff2508', GradientType=1 );
}